#container {
    display: grid;
    grid-template-rows: 200px auto 50px;
    grid-template-columns: auto 350px;
    grid-template-areas: "header header" "main aside" "footer footer";
}

aside {
    display: block;
    grid-area: aside;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    align-self: center;
    justify-self: center;
}

header {
    grid-area: header;
}

section {
    border-width: medium;
    border-style: solid;
    border-color: blue;
    margin: 20px;
    padding: 10px 40px 10px 40px;
    line-height: 2;
}